
.resumen-final-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.resumen-final {
  width: 50%;
}

@media(width<=500px) {
  .resumen-final {
    width: 100%;
  }
}

.resumen-final h2{
  text-align: center;
  padding-bottom: 20px;
}

.bold-text {
  font-weight: bold;
}