.turno-screen {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh; 
  padding: 20px; 
}

.content {
  width: 100%;
}

.resumen-container {
  display: none;
}

.split-layout .content {
  width: 48%;
}

.split-layout .resumen-container {
  display: block;
  width: 48%;
  margin-top: 90px; 
}

.step-content {
  display: flex;
  justify-content: space-between;
}

.step-content > * {
  width: 100%;
}

.turno-screen .calendar-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

