/* Estilos base */
.servicio-info span {
  font-weight: 600;
}

.servicio-item-wrapper .descripcion {
  font-weight: 400;
  font-style: italic;
}

.servicio-info p {
  font-size: 1.2em;
}

.servicio-item-wrapper {
  padding: 27px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 16px;

  &:hover {
    background-color: #f0f0f0;
  }
}

.servicio-item-wrapper.selected {
  background-color: #ffe7dc;
}

.servicio-list {
  /* padding: 2.625rem 10.5rem 1.25rem; */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .servicio-item-wrapper {
    padding: 15px;
    font-size: 1em;
  }

  .servicio-list {
    /* padding: 0.625rem 2rem; */
  }
}

@media screen and (max-width: 480px) {
  .servicio-item-wrapper {
    padding: 10px;
    font-size: 0.8em;
  }

  .servicio-list {
    /* padding: 0.625rem 1rem; */
  }
}
