.servicio-item{
    font-size: large;
}
.servicio-info{
    font-size: large;
}
.servicio-detalles{
    font-size: large;
}
.servicio-item-wrapper {
    padding: 10px;
    margin-bottom: 10px;
    background-color: aqua;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .servicio-item-wrapper:hover {
    background-color: #f0f0f0;
  }
  
  .servicio-item-wrapper.selected {
    background-color: #aaa; /* Color azul */
    color: white; /* Color de texto blanco para contrastar */
  }