.btn-primario,
.btn-secundario,
.btn-terciario {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
}

.btn-primario {
  background-color: #f7c1c9;
  /* margin-top: 12px; */

  &:hover {
    background-color: #e5a6a9;
  }
}

.btn-primario2 {
  background-color: #f7c1c9;
  color: #1e1e1e;
  margin-top: 12px;

  &:hover {
    background-color: #f9d3d5;
  }
}

.btn-secundario {
  color: #1e1e1e;

  border: 1px solid #f7c1c9;
  padding-left: 16px;
  padding-right: 16px;
}
.btn-terciario {
  font-weight: 700;
  font-size: 0.7em;

  &:hover {
    background-color: transparent;
  }
}
