.horario-item-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
}

.horario-item-wrapper:hover {
  background-color: #f0f0f0;
}

.horario-item-wrapper.selected {
  background-color: #ffe7dc;
}
