.footer-iconos .icono {
    width: 50px;
    height: 200px;
}
.footer{
        background-color: aqua;
        border-top: 2px solid rgba(0, 0, 0, 0.24);  
        /*  poner footer abajo */
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
