/* Estilos base */
/* .profesional-item {
  font-size: 1.2em;
} */

.profesional-info p {
  font-size: 1.2em;
}

.profesional-item-wrapper {
  padding: 27px;
  margin-bottom: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 16px;
}

.profesional-item-wrapper:hover {
  background-color: #f0f0f0;
}

.profesional-item-wrapper.selected {
  background-color: #FFE7DC;
  color: black;
}

.profesional-list {
  /* padding-top: 30px; */
}

/* Estilos responsivos */
@media screen and (max-width: 768px) {
  .profesional-item-wrapper {
    padding: 15px;
    font-size: 1em;
  }

  .profesional-list {
    /* padding: 0.625rem 2rem; */
  }
}

@media screen and (max-width: 480px) {
  .profesional-item-wrapper {
    padding: 10px;
    font-size: 0.8em;
  }

  .profesional-list {
    /* padding: 0.625rem 1rem; */
  }
}
