/* Estilos base */
.profesional-item {
    font-size: 1.2em;
  }
  
  .profesional-info p {
    font-size: 1.2em;
  }
  
  .profesional-detalles {
    font-size: 1.2em;
  }
  
  .profesional-item-wrapper {
    padding: 27px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
  }
  
  .profesional-item-wrapper:hover {
    background-color: #f0f0f0;
  }
  
  .profesional-item-wrapper.selected {
    background-color: #ffd1af;
    color: black;
  }
  
  .profesional-list {
    padding: 0.625rem 10.5rem 1.25rem;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    .profesional-item-wrapper {
      padding: 15px;
      font-size: 1em; 
    }
    
    .profesional-list {
      padding: 0.625rem 2rem; 
    }
  }
  
  @media screen and (max-width: 480px) {
    .profesional-item-wrapper {
      padding: 10px;
      font-size: 0.8em; 
    }
    
    .profesional-list {
      padding: 0.625rem 1rem; 
    }
  }